div {
       padding: 1em;
   }

div:hover {
    border: 1px solid black;
    background-color: black;
    color: white ;
}

.footer-container{
    background: #31231e;
    background-color: #e4e12f;
    font-size:xx-small;
}

a:hover {
    color: ;
    font-weight: bolder;
    text-decoration: none;
}